:root {
    /* Shades of grey */
    --colorMainBlack: #292929;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPurple: #6E68FF;
    --colorPurpleLight: #aeacff;
    --colorPurpleVeryLight: #f1f1ff;
    
    /* Secondary color */
    --colorYellow: #FFBF0D;
    --colorYellowLight: #FFD767;
    --colorYellowVeryLight: #FFFAEC;
}