:root {
    /* Small buttons */
    --borderRadiusSmall: 6px;
    /* Large buttons */
    --borderRadiusMedium: 10px;
    /* Big areas */
    --borderRadiusLarge: 16px;
    /* main box shadow */
    --boxShadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
    /* Box shadow primary color */
    --boxShadowPurple: 2px 3px 6px #cdccff;
    /* Box shadow secondary color */
    --boxShadowYellow: 1px 3px 6px #ffbe0d7d;
    
  }